* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 16px "Century Gothic", Futura, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgb(6, 2, 31) 0%,
      rgb(9, 1, 39) 100%
    );
  }
  .url-cont {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }

  
  .url-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #0c59ff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .shortn-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(12, 89, 255) 0%,
      rgb(0, 58, 250) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  

   .todo-row a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(10, 3, 112) 0%,
      rgb(6, 59, 206) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  
  
  